@use '../base/variables' as var;

.loader {
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: solid #fff;
	border-bottom-color: var.$color-main;
	animation: rotation 1s linear infinite;

	&--main {
		position: absolute;
		width: 120px;
		height: 120px;
		border-width: 12px;
	}

	&--details {
		position: relative;
		width: 40px;
		height: 40px;
		border-width: 4px;
	}
}

@keyframes rotation {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
