@use './base/variables' as var;
@use './base/typography' as t;

html {
	font-size: t.$font-size;
}

body {
	background-color: var.$color-background;
}

.wrapper {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}
