@use './variables' as var;
@use './typography' as t;

html {
	font-size: t.$font-size-mobile;
}

body {
	background-color: var.$color-background;

	&.hidden {
		overflow-y: hidden;
	}
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

@media (min-width: 992px) {
	html {
		font-size: t.$font-size-desktop;
	}
}
