@use './typography' as t;

*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: t.$font-main;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

button,
input,
select,
textarea {
	margin: 0;
}

/* Resetowanie elementów tabeli */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
