// colors
$color-main: #d44c5c;
$color-background: #deced0;
$color-round-background: #eeeeeeab;
$color-gradient: linear-gradient(
	45deg,
	hsla(353, 61%, 56%, 1) 0%,
	hsla(325, 69%, 56%, 1) 100%
);
$color-white: #eee;
$color-black: #111;
