// colors
$color-main: rgb(35, 37, 38);
$color-background: rgb(235, 235, 235);
$color-round-background: rgba(250, 250, 250, 0.95);
$color-gradient: linear-gradient(to right, #232526, #414345);
$color-white: rgb(255, 255, 254);
$color-black: rgb(0, 0, 1);
